extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ab.css')
  form(action='/absence', method='post')
  
    div(class='absence')
      h4=title
        table(align="center")
          tr 
          td(align='right') เขียนที่
            input(type="text", name="write" placeholder="เขียนที่" ,align="right") 
          tr 
          td(align='right') วันที่ 
            input(type="date", name="date1")
          tr
          td เรื่อง  ขอลาอุปสมบท
          
          tr  
          td (คำขึ้นต้น)
            input(type="text", name="title" placeholder="เรียนผ้บังคับบัญชา")
          
          tr
          td  !{'  '}ข้าพเจ้า
            input(type="text", name="firstname" placeholder="ชื่อ")
            |!{' '}
            input(type="text", name="lastname" placeholder="นามสกุล")
            |!{' '} ตำแหน่ง
            input(type="text", name="prologue" placeholder="ตำแหน่ง")
          tr
          td ระดับ
            input(type="text", name="rank" placeholder="ระดับ")
            |!{' '} สังกัด   
            input(type="text", name="degree" placeholder="สังกัด")
            |!{' '} เกิดวันที่
            input(type="date", name="date2")
          tr
          td เข้ารับราชการเมื่อวันที่   
            input(type="date", name="date3")
            |!{' '} ข้าพเจ้า 
            input(type="checkbox", name="no", value="ยังไม่เคย") 
            |!{' '} ยังไม่เคย    
            input(type="checkbox", name="yes", value="เคย")
            |!{' '} เคย   อุปสมบท    
            |!{' '} บัดนี้มีศรัทธาจะอุปสมบทในพระพุทธศาสนา 
          tr
          td ณ วัด    
            input(type="text", name="tem1")
            |!{' '} ตั้งอยู่ ณ    
            input(type="text", name="place1")
            |!{' '} หมายเลขโทรศัพท์
            input(type="tel", name="phone")
          tr
          td กำหนดอุปสมบทวันที่
            input(type="date", name="date4")
            |!{' '} และจะจำพรรษาอยู่ ณ วัด
            input(type="text", name="tem2")
          tr
          td ตั้งอยู่ ณ  
            input(type="text", name="place2")
            |!{' '} จึงขออนุญาติลาอุปสมบทตั้งแต่วันที่   
            input(type="date", name="date5")
            |!{' '} ถึงวันที่  
            input(type="date", name="date6")
          tr
          td มีกำหนด  
            input(type="text", name="day1")
            |!{' '} วัน   
          tr
          td(align='right') ลงชื่อ
            input(type="text" ,name="sign")
            
          tr
          td(align='left')
            a(href='/leave') ย้อนกลับ
          td(align='center')
            input(type='submit', value='send', align='center')
          
