extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ab.css')
  form(action='/holiday', method='post')
  
    div(class='absence')
      h4 ใบลาพักผ่อน
        table(align="center")
          tr 
          td(align='right') เขียนที่
            input(type="text", name="write" placeholder="เขียนที่" ,align="right") 
          tr 
          td(align='right') วันที่ 
            input(type="date", name="date1")
          tr
          td เรื่อง  ขาลาพักผ่อน
          
          tr  
          td (คำขึ้นต้น)
            input(type="text", name="title" placeholder="นาย / นาง / นางสาว")
          
          tr
          td  !{'  '}ข้าพเจ้า
            input(type="text", name="firstname" placeholder="ชื่อ")
            |!{' '}
            input(type="text", name="lastname" placeholder="นามสกุล")
            |!{' '} ตำแหน่ง
            input(type="text", name="prologue" placeholder="ตำแหน่ง")
          tr
          td ระดับ
            input(type="text", name="rank" placeholder="ระดับ")
            |!{' '} สังกัด   
            input(type="text", name="degree" placeholder="สังกัด")
          tr
          td มีวันลาพักผ่อนสะสม
            input(type='number', name="number1")
            |!{' '} วันทำการ มีสิทธิลาพักผ่อนประจำปีนี้อีก   
            input(type='number', name="number2")
            |!{' '} วันทำการ รวมเป็น
            input(type='number', name="number3")
            |!{' '} วันทำการ
          tr
          td ขอลาพักผ่อนตั้งแต่วันที่ 
            input(type="date", name="date5")
            |!{' '} ถึงวันที่  
            input(type="date", name="date6")
            |!{' '} มีกำหนด    
            input(type="text", name="day1")
            |!{' '} วัน    
          tr
          td ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่       
            input(type="text", name="place1")
            |!{' '} หมายเลขโทรศัพท์
            input(type="tel", name="phone")
          tr
          td(align='center')
            input(type='submit', value='send', align='center')
