extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ab.css')
  form(action='/learn', method='post')
  
    div(class='absence')
      h4 ใบลาไปศึกษา ฝึกอบรม ปฏิบัติการวิจัย หรือดูงาน
        table(align="center")
          tr 
          td(align='right') เขียนที่
            input(type="text", name="write" placeholder="เขียนที่" ,align="right") 
          tr 
          td(align='right') วันที่ 
            input(type="date", name="date1")
          tr
          td เรื่อง
            input(type="text", name="topic" placeholder="เรื่องที่จะขอลา")
          
          tr  
          td (คำขึ้นต้น)
            input(type="text", name="title" placeholder="เรียนผ้บังคับบัญชา")
          
          tr
          td  !{'  '}ข้าพเจ้า
            input(type="text", name="firstname" placeholder="ชื่อ")
            |!{' '}
            input(type="text", name="lastname" placeholder="นามสกุล")
            |!{' '} ตำแหน่ง
            input(type="text", name="prologue" placeholder="ตำแหน่ง")

          tr
          td ระดับ
            input(type="text", name="rank" placeholder="ระดับ")
            |!{' '} สังกัด   
            input(type="text", name="degree" placeholder="สังกัด")
            |!{' '} เกิดวันที่
            input(type="date", name="birthday")

          tr
          td เข้ารับราชการเมื่อวันที่   
            input(type="date", name="firstday")
            |!{' '} ได้รับเงินเดือนเดือนละ
            input(type="text", name="salary" placeholder="เงินเดือนที่ได้รับ")
            |!{' '} บาท
            input(type="text", name="salaryb" placeholder="เขียนจํานวนเงินเป็นตัวหนังสือ")

          tr 
          td มีความประสงค์ขอลาไป

          tr
          td 
            input(type="checkbox", name="lean", value="ศึกษาวิชา")
            |!{' '} ศึกษาวิชา
            input(type="text", name="subject" ,placeholder="ชื่อวิชา")
            |!{' '} ขั้นปริญญา
            input(type="text", name="level",)
            |!{' '} ณ สถานศึกษา 
            input(type="text", name="University" ,placeholder="ชื่อสถานศึกษา")
          tr
          td
            |!{' '} ประเทศ
            input(type="text", name="country", placeholder="ชื่อประเทศ")
            |!{' '} ด้วยทุน
            input(type="text", name="bursary", placeholder="ชื่อทุนการศึกษา")

          tr
          td 
            input(type="checkbox", name="train", value="ฝึกอบรม")
            |!{' '} ฝึกอบรม
            input(type="checkbox", name="research", value="ปฏิบัติการวิจัย")
            |!{' '} ปฏิบัติการวิจัย
            input(type="checkbox", name="Visit", value="ดูงาน")
            |!{' '} ดูงาน
            |!{' '} ด้าน/หลักสูตร
            input(type="text", name="course")
            |!{' '} ณ  
            input(type="text", name="location" ,placeholder="ชื่อสถานที่ฝึกอบรม/ปฏิบัติการวิจัย/ดูงาน")
          tr
          td ประเทศ
            input(type="text", name="country1", placeholder="ชื่อประเทศ")
            |!{' '} ด้วยทุน
            input(type="text", name="bursary1", placeholder="ชื่อทุนการศึกษา")

          tr
          td ทั้งนี้ ตั้งแต่วันที่ 
            input(type="date", name="date2")
            |!{' '} ถึงวันที่   
            input(type="date", name="date3")
            |!{' '} มีกำหนด
            input(type="text1", name="year")
            |!{' '} ปี 
            input(type="text1", name="mount")
            |!{' '} เดือน
            input(type="text1", name="day")
            |!{' '} วัน 
          tr
          td ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่  
            input(type="text", name="place")
            |!{' '} หมายเลขโทรศัพท์ 
            input(type="tel", name="phone", placeholder="หมายเลขโทรศัพท์")
          tr
          td
            |!{' '} ข้าพเจ้าขอรับรองว่าจะมาปฏิบัติตามกฎหมายและระเบียบของทางข้าราชการเกี่ยวกับการไปศึกษาฝึกอบรม ปฏิบัติการวิจัย หรือดูงาน ทุกประการ
          tr
          td(align='right') ลงชื่อ
            input(type="text" ,name="sign")
          tr
          td(align='left')
            a(href='/leave') ย้อนกลับ
          td(align='center')
            input(type='submit', value='send', align='center')
