extends layout

block content
  h1=title
  for item in data
    br
    th(align="right") เขียนที่
    td #{item.write}
    br
    th วันที่
    td #{item.date1}
    br
    th คำขึ้นต้น
    td #{item.title}
    br
    th ข้าพเจ้าชื่อ
    td #{item.firstname}
    br
    th นามสกุล
    td #{item.lastname}
    br
    th ตำแหน่ง
    td #{item.prologue}
    br
    th ระดับ
    td #{item.rank}
    br
    th สังกัด
    td #{item.degree}
    th ได้รับเงินเดือนเดือนละ
    td #{item.salary} บาท
    th (
    td #{item.salaryb} )
    th มีความประสงค์ขอลาติดตามคู่สมรส ชื่อ 
    td #{item.name1}
    th ตำแหน่ง 
    td #{item.prologue1}
    th ระดับ
    td #{item.rank1}
    th สังกัด
    td #{item.degree1}
    th ซึ่งไปปฏิบัติงานราชการ/ปฏิบัติงาน ณ ประเทศ 
    td #{item.country}
    th มีกำหนด
    td #{item.year} ปี
    td #{item.mount} เดือน
    td #{item.day} วัน
    th จึงขออนุญาตลาติดตามคู่สมรสมีกำหนด
    td #{item.year1} ปี
    td #{item.mount1} เดือน
    td #{item.day1} วัน
    th ตั้งแต่วันที่
    td #{item.date2}
    th ถึงวันที่
    td #{item.date3}
    th ครั้งสุดท้ายข้าพเจ้าได้ลาติดตามคู่สมรสไปประเทศ
    td #{item.country1}
    th เป็นเวลา
    td #{item.year2} ปี
    td #{item.mount2} เดือน
    td #{item.day2} วัน
    th เมื่อวันที่
    td #{item.date4}
    th ถึงวันที่
    td #{item.date5}
    th ในกรณีลาติดต่อกับครั้งก่อน รวมทั้งครั้งนี้ด้วย เป็นเวลา
    td #{item.year3} ปี
    td #{item.mount3} เดือน 
    td #{item.day3} วัน 