extends layout

block content
  h1 ข้อมูลพนักงาน
  table(border = 1, align='center')
    br
    th ชื่อ 
    br
    th นามสกุล
    br
    th username
    br
    th password
    br
    th email
    for item in data
      tr
        td(align="left") #{item.firstname}
        td(align="left") #{item.lastname}
        td(align="left") #{item.username}
        td(align="left") #{item.password}
        td(align="left") #{item.email}
    
