extends layout

block content
  link(rel='stylesheet', href='/stylesheets/ab.css')
  h1=title
  
  for item in data
    div(class='absence')
      table(align="center")
        tr 
        td(align='right') เขียนที่ #{item.write}

        tr 
        td(align='right') วันที่ #{item.date}

        tr
        td เรื่อง ขอลาไปช่วยเหลือภริยาที่คลอดบุตร
          
        tr  
        td (คำขึ้นต้น) ..........#{item.title}..........
          
        tr
        td  !{'  '}ข้าพเจ้า  ชื่อ ..........#{item.firstname}.......... นามสกุล .......... #{item.lastname}..........
            |!{' '} ตำแหน่ง .......... #{item.sign}..........

        tr
        td ระดับ .......... #{item.rank}..........
            |!{' '} สังกัด .......... #{item.degree}..........

        tr
        td มีความประสงค์ลาไปช่วยเหลือภริยาโดยชอบด้วยกฏหมายชื่อ ..........#{item.name1}..........
            
        tr
        td ซึ่งคลอดบุตรเมื่อวันที่ .......... #{item.date2}..........
            |!{' '} จึงขออนุญาตลาไปช่วยเหลือภริยาที่คลอดบุตรตั้งแต่
        tr
        td วันที่ #{item.date3}
            |!{' '} ถึงวันที่ ..........#{item.date4}..........
            |!{' '} มีกำหนด ..........#{item.day1}..........
            |!{' '} วันทำการ   
        tr
        td ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่ ..........#{item.address}..........      
            |!{' '} หมายเลขโทรศัพท์ ..........#{item.phone}..........

        tr
        td(align='right') ลงชื่อ #{item.sign}
        
        tr
        td(align='left')
          a(href='/showdata') ย้อนกลับ