extends layout

block content
  h1=title
  for item in data
    br
    th(align="right") เขียนที่
    td #{item.write}
    br
    th วันที่
    td #{item.date1}
    br
    th คำขึ้นต้น
    td #{item.title}
    br
    th ข้าพเจ้าชื่อ
    td #{item.firstname}
    br
    th นามสกุล
    td #{item.lastname}
    br
    th ตำแหน่ง
    td #{item.prologue}
    br
    th ระดับ
    td #{item.rank}
    br
    th สังกัด
    td #{item.degree}
    th เกิดวันที่
    td #{item.date2}
    th เข้ารับราชการเมื่อวันที่
    td #{item.date3}
    th ข้าพเจ้า        
    td #{item.yes}
    td #{item.no}
    th อุปสมบท
    th บัดนี้มีศรัทธาจะอุปสมบทใบพระพุทธศาสนา ณ วัด
    td #{item.temp1}
    th
    td #{item.place1}
    th
    td #{item.phone}
    th
    td #{item.date4}
    th
    td #{item.place2}
    th
    td #{item.date5}
    th
    td #{item.date6}
    th
    td #{item.day1}
    th
    td #{item.sign}
    th
    td #{item.signn1}
    th
    td #{item.comment}
    th
    td #{item.sign2}
    th
    td #{item.signn2}
    th
    td #{item.rank1}
    th
    td #{item.date7}
    th
    td #{item.comment1}
    th
    td #{item.sign3}
    th
    td #{item.signn3}
    th
    td #{item.rank2}
    th
    td #{item.date8}