extends layout

block content
  h1=title
  for item in data
    br
    th(align="right") เขียนที่
    td #{item.write}
    br
    th วันที่
    td #{item.date1}
    br
    th เรื่อง ขอลาไปช่วยเหลือภริยาที่คลอดบุตร
    br
    th คำขึ้นต้น
    td #{item.title}
    br
    th ข้าพเจ้าชื่อ
    td #{item.firstname}
    br
    th นามสกุล
    td #{item.lastname}
    br
    th ตำแหน่ง
    td #{item.prologue}
    br
    th ระดับ
    td #{item.rank}
    br
    th สังกัด
    td #{item.degree}
    th มีความประสงค์ลาไปช่วยเหลือภริยาโดยชอบด้วยกฏหมายชื่อ
    td #{item.name1}
    th ซึ่งคลอดบุตรเมื่อวันที่
    td #{item.date2}
    th จึงขออนุญาตลาไปช่วยเหลือภริยาที่คลอดบุตรตั้งแต่
    td #{item.date3}
    th ถึงวันที่ 
    td #{item.date4}
    th มีกำหนด
    td #{item.day1} วันทำการ
    th ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่
    td #{item.address}
    th หมายเลขโทรศัพท์
    td #{item.phone}
