extends layout

block content
  h1 ShowDB
  table(border = 1)
    br
    th ชื่อ 
    br
    th นามสกุล
    br
    th username
    br
    th password
    br
    th email
    for item in data
      tr
        td(align="right") #{item.firstname}
        td(align="right") #{item.lastname}
        td(align="right") #{item.username}
        td(align="right") #{item.password}
        td(align="right") #{item.email}
    
